<div class='container'>
  <div class='w-100'>
		<div class='row my-3'>
			<div class='col-md-6 offset-md-3'>
				<h3>Help</h3>
				<hr class='w-100'>
				<p>
					Read this if you're interested in finding out 
					<span class='font-weight-semibold'>How to use Automated T10n</span>, or <span class='font-weight-semibold'>Why I'm building it</span>.
				</p>
			</div>
		</div>
		<div class='row mb-3'>
			<div class='col-md-6 offset-md-3'>
				<h5>How to use Automated T10n</h5>		
				<p>
					It couldn't be easier.
				</p>
				<p>
					First, find yourself a <span class='font-weight-semibold'>.yml</span> file.
					It should contain all the keys & corresponding values you wish to translate from.
				</p>
				<p>
					Upload that file. Choose the language found in the file you've just uploaded.
					<span class='text-muted'>Note: The language code for this language should be the first key found in your file.</span>
				</p>
				<p>
					Then, find the language you'd like to have your keys be translated into from the <span class='font-italic'>extensive</span> list of languages provided.
				</p>
				<p>
					Hit that magical grey button- gently, please- & give us a moment for us to work our magic.
					Once we're done, we'll send the translated file straight to your browser.
				</p>
				<p>
					Hm. Easy, right? Yeah, it's pretty cool.
				</p>
			</div>
		</div>
		<div class='row mb-3'>
			<div class='col-md-6 offset-md-3'>
				<h5>Why I'm building Automated T10n</h5>	
				<p>
					Whenever I build something, it's a given that I'd like everyone to be able to experience it.
					I'd imagine this is a sentiment shared by most, if not all, people.
				</p>
				<p>
					However, in my recent endeavours to first internationalize, then also localize a non-trivial Rails application, I've noticed that it isn't an easy feat.
					There really isn't an easy, automated way to achieve this.
					That means that multi-language support <span class='font-weight-semibold'>just isn't attainable</span> from the get-go.
				</p>
				<p>
					The aim is to bring this ideal of localization, even in an application's early days, within reach.
				</p>
				<p>
					Build solutions that knows no language boundaries.
				</p>
			</div>
		</div>
		<div class='row mb-3'>
			<div class='col-md-6 offset-md-3'>
				<h5>More Resources</h5>
				<p>
					For clarity's sake, I've included several example .yml files that will be translated just fine in the GitHub repo. Find them <a href='https://github.com/shleen/Automated-T10n/tree/master/examples'>here</a>.
				</p>
			</div>
		</div>
	</div>
</div>